# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.v2
*.vsidx
*.json
*.bin
*.ipch
*.opendb
*.modules
*.pdb
*.exp
*.db
*.target
*.db-shm
*.db-wal
.vs/FlowStandalone/v17/.suo
.vsconfig
/Intermediate
/Saved
